{% if site.google_analytics %}

<!-- Google tag (gtag.js) GA4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q12CPTSQDT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q12CPTSQDT');
</script>

<!-- Google tag (gtag.js) Universal? -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-185637-20"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-185637-20');
</script>


{% endif %}
